# Supabase
VITE_SUPABASE_URL=https://xxxxxxxxxxxxxx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.xxxxx

# Cloudinary
VITE_CLOUDINARY_CLOUD_NAME=votre-cloud-name
VITE_CLOUDINARY_UPLOAD_PRESET=votre-upload-preset

# CinetPay
VITE_CINETPAY_API_KEY=votre-api-key-cinetpay
VITE_CINETPAY_SITE_ID=votre-site-id-cinetpay
